/*Jordan Schulte*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    margin-top: 12rem;
    color: white;
}

.wrapper h1 {
    font-size: 25pt;
    margin: 50px 0px;
}

.wrapper p {
    margin: 25px 0px;
    font-size: 40pt;
}

.wrapper button {
    padding: 40px;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    color: white;
}

#button-start {
    background-color: #00b90046;
    border: 2px solid #00b900;
    
}

#button-start:hover {
    background-color: #00b900;
}

#button-stop {
    background-color: #ff000046;
    border: 2px solid #FF0000;
}

#button-stop:hover {
    background-color: #ff0000;
}

#button-reset {
    background-color: transparent;
    border: 2px solid white;
}

#button-reset:hover {
    background-color: #ffffff46;
}

.wrapper a {
    color: white;
}

.wrapper a:hover {
    text-decoration: none;
}

.wrapper button:hover {
    background-color: transparent;
    color: white;
}

body {
   background: black;
}